body{
    position: relative;
    background-color: #8000ff;
    font-family: sans-serif;
}
body .molde-tarefa{
    display: none !important;
    
} 



#input-adicionar-nova-tarefa{
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

.btn-adicionar-nova-tarefa{
    background-color: cyan;
    border: none;
    padding: 10px;
}

.container-selecionar-todas-tarefas{
    padding: 10px 5px;
    color: white;
}

.container-tarefas{
    padding-bottom: 50px;
    .container-tarefa-botao-excluir-editar{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 5px;
        background-color: greenyellow;
        
        .container-tarefa{
            width: 80%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            
            
            text-overflow: ellipsis; 
            word-break: break-all;
            // white-space: nowrap; 
            overflow: hidden;
        }
            .container-tarefa input{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
            }
        .container-botao-excluir-editar{
            
            display: flex;
            justify-content: space-around; 
            align-items: center;
            width: 20%;
            .container-botao-editar{
                
            }
            .container-botao-excluir{
                
            }
        }
    }
}

.excluir-tudo{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    bottom: 0;
    left: 0;

    background-color: black;
    color: #adff2f;
}